@model TableDetail

<h1 class = "display-1">
    @Model.Id
</h1>
<hr>
<div class = "border border-3 border-primary">
    <ul>
        <li>
            @Model.Id
        </li>
        <li>
            @Model.Price
        </li>
        <li>
            @Model.AmountOfChairs
        </li>
    </ul>
</div>