@model GuestDetail

<h1 class = "display-1">
    @Model.Name
</h1>
<hr>
<div class = "border border-3 border-primary">
    <ul>
        <li>
            @Model.Name
        </li>
        <li>
            @Model.Email
        </li>
    </ul>
</div>